body {
  padding-top: 5rem;
  background-color: #242325;
  color: white;

}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blackQueen {
    width: 109px;
    height: 58px;
    position: absolute;
    bottom: 1px;
    left: 511px;
}

.blackQueen img {

    height: 100%;
    width: 100%;

}

.board-container {
    height: 100%;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
}

.board-container img {
    width: 50%;
    height: 100%;
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}